/* @import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic); */
p#qwertr {
  font-family: 'Rubik One', sans-serif;
font-size: 50px;
//text-transform: uppercase;
//background: linear-gradient(45deg, red 10%, blue 2%, green);
background-image: url("1.jpg");
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
//color: #0B2349;
//display: table;
//margin: 20px auto;
}

.plugin {
  width: auto;
  height: 100px;
  background-color: red;
  overflow: auto;
  margin: 10px;
  /* resize: both; */
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.plugins {
  width: auto;
  height: auto;
  overflow: auto;
  //background-color: blue;
  //resize: both;
}

p {
  width: auto;
  color:white;
  background-color: transparent;
}

.selected {
  border: dashed blue;
}

.program {
  position: fixed;
  z-index: 1000000;
  background-color: green;
  width: 20%;
  height: 20%;
  /* width: 15px;
  height: 15px; */
  overflow: auto;
  resize: both;
  left: 0px;
  top: 0px;
}

body {
  height: 200vh;
}
